In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('Sanjana_sweets.csv')

In [4]:
data

   Unnamed: 0  Day  Sales  visitor  income  expenses
0   product a    1    383      202    2000      3000
1   product b    2    239      273    2500      6800
2   product c    3    249      255    3300      5247
3   product d    4    344      247    1900      6745
4   product e    5    362      306    2000      1457
5   product f    6    265      322    4000      2785
6   product g    7    390      224    5600      4897
7   product h    8    322      259    2900      3565
8   product i    9    252      240    5000     35676
9   product j   10    304      216    3000      9877
10  product k   11    383      202    2000      3000
11  product l   12    239      273    2500      6800

In [5]:
x=[1,2,3,4,5]
y=[9,4,6,5,10]
plt.plot(x,y)

NameError: name 'plt' is not defined